.container {
  background-color: rgb(57, 57, 57);
  color: rgb(205, 205, 205);

  border: 3px solid rgba(255, 255, 255, 0.379);
  border-radius: 1rem;
  padding: 2px 7px;
}

.container:hover {
  background-color: rgb(205, 205, 205);
  color: rgb(57, 57, 57);
  border: 3px solid rgb(57, 57, 57);
}

.container:disabled {
  color: rgb(206, 0, 0);
}
